/* Estilos CSS para el formulario */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ccccff;
    color: black;
    margin: 20;
    padding: 20;
}

header, footer {
    background-color: #ccccff;
    color: black;
    padding: 10%;
}

footer{
    position: #ccccff;
    bottom: 40;
    width: 80%;
}

footer p {
    text-align: center;
}

h1,
h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 100%;
    margin: auto;
}

li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.container-form{
    max-width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccccff;
    border-radius: 4px;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #ccccff;
    color: black;
    border: black;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 4px;
    font-size: 16px;
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ccccff;
}

span {
    color:black
    
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 5px solid #ccccffc;
    background-color: #ccccffc;


}

td {
    color: black;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla-container {
    max-width: 40%;
}

.listado-container {
    max-width: 40%;
}
.boton-container {
    margin-block: 30px;
}
a{
    text-decoration: none;
}
.listado-servicios a {
    color: #0000ff;
    font-size: 20px;
}

.listado-servicios li:marker {
    content: 🐾;
}